*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.general {
    width: 1300px;
    height: 1000px;
    font-size: 1em;
    background-color: hsla(108, 59%, 73%, 0.5);

}

.caja_px {
    width: 500px;
    height: 200px;
    background: linear-gradient(to right, hsl(0, 13%, 80%), hsl(276, 24%, 49%));

}

.caja_vm {
    width: 30vmax;
    height: 30vmin;
    background-color: red;
}

.caja_em {
    width: 20em;
    height: 20em;
    background-color: green;
}

.caja_por {
    width: 50%;
    background-color: black;
}